* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 400;
    background-color: darkcyan;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.task-list {
    border: antiquewhite;
    border-style: double;
    border-radius: 0.1cm;
}

.task-item {
    display: flex;
    flex: 50%;
    align-items: left;
    padding-right: 12rem;
    padding-left: 2rem;

}